@charset "utf-8";
/*全体*/
body {
    font-weight: bold;
    font-size: large;
    background-image: url(img/DSC_0112.JPG);
}

.container {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
} 
/*マーカー*/
.marker-yellow {
    background: linear-gradient(transparent 60%, #f5f545 60%);
}

/*ヘッダー*/
header {
    margin-bottom: -5%;
}
.header a {
    color: black;
    font-size: large;
}
/*ハンバーガー**********************/
nav.hamb {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
}
.open nav.hamb {
    right: 0;
    opacity: 0.9;
}
nav.inner {
    padding: 25px;
}
nav.inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
}
nav.inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
}
nav.inner ul li a:hover {
    background: #e4e4e4;
}
.hamb-header a {
    font-size: xx-large;
    color: black;
    line-height: 2.5em;
}

/***************************/
/*ルーズリーフ風*/
.paper {
    width: 100%;
    background: #fff;
    height: auto;
    border-radius: 5px;
    padding: 1% 1% 1% 5%;
    position: relative;
    margin-top: 1.5%;
}
.paper::before {
    content: '';
    width: 15px;
    height: 90%;
    background-image: radial-gradient(circle, #dfddd0 8px, transparent 8px);
    background-repeat: repeat-y;
    background-size: 15px 40px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto auto auto 1%;
}
.paper:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.paper.summ::after {
    display: none;
}

/*テーブル調整用*/
.content {
    text-align: left;
    display: inline-block;
    width: 100%;
}
/*スタンプ（大）*/
.stamp-position {
    position: absolute;
    height: 100px;
    transform: rotate(7deg);
    top: 30%;
    left: 2%;
}

.stamp {
    font-size: 10px;
    border: 3px double #f00;
    border-radius: 50%;
    color: #f00;
    width: 64px;
    height: 64px;
    position: relative;
    margin: auto;
    top: 3%;
    left: 670%;
}
.stamp span {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.stamp span:first-child::before {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    border-bottom: 1px solid #f00;
    line-height: 1;
}
.stamp span:first-child {
    line-height: 56px;
}
.stamp span:last-child {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 1px solid #f00;
    padding-top: 2px;
    line-height: 1;
}
.stamp-approve span:first-child::before {
    content: "済";
}
/*スタンプ（小）*/
.stamp-s-position {
    position: absolute;
    height: 10px;
    transform: rotate(7deg);
}

.stamp-s {
    font-size: 0.5px;
    border: 1px double #f00;
    border-radius: 50%;
    color: #f00;
    width: 55px;
    height: 55px;
    position: relative;
    margin: auto;
    top: 1%;
    left: 670%;
    opacity: 0;
}
.stamp-s span {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.stamp-s span:first-child::before {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    border-bottom: 1px solid #f00;
    line-height: 0.8;
}
.stamp-s span:first-child {
    line-height: 50px;
}
.stamp-s span:last-child {
    position: absolute;
    top: 32.5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 94%;
    border-top: 1px solid #f00;
    padding-top: 1px;
    line-height: 1;
}
.stamp-s-approve span:first-child::before {
    content: "済";
}
/*トップの付箋*/
.deg {
    transform: rotate(-3deg);
    opacity: 0.9;
    position: absolute;
    left: 55%;
    top: 50px;
}
.sticky-position {
    position: relative;
    z-index: 1;
}
.sticky {
    width: 18rem;
    height: 8rem;
    padding: 1em;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, .1);
    background-image: linear-gradient(180deg, hsla(0, 0%, 45%, .1) 2rem, hsla(0, 100%, 100%, 0) 2.5rem), linear-gradient(180deg, hsla(200, 100%, 85%, 1), hsla(200, 100%, 85%, 1));
    line-height: 1.8;
    margin-top: 10%;
    margin-bottom: -25%;
    margin-left: 76%;
}
/*見出し*/
h1 {
    margin-top: -13%;
    margin-left: -5%;
    font-family: 'Slackside One', cursive;
    font-size: 4rem;    
}
.h2-position {
    width: 50%;
    margin: 1% auto 0 auto;;
}
h2 {
    text-align: center;
    font-size: xx-large;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 10px rgba(52, 249, 88, 0.5);
    border-bottom: solid 10px rgba(52, 249, 88, 0.5);
}
h2::before, h2::after {
    content: '';
    position: absolute;
    top: -7px;
    width: 10px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: rgba(52, 249, 88, 0.5);
}
h2::before {
    left: 7px;
}
h2::after {
    right: 7px;
}
h3 {
    text-align: center;
    margin-top: -2%;
    cursor: pointer;
    margin-bottom: 5%;
}
.consideration {
    margin-top: 3%;
}
/*下線*/
.under_line {
    border-bottom: 10px solid rgba(52, 249, 88, 0.5);
}
/*ヘッダー見出し*/
.pc ul {
    display: flex;
    justify-content: space-between;
}

.pc ul a, a, .inner ul {
    text-decoration: none;
}
.pc.note {
    margin-bottom: 5%;
}

li {
    list-style-type: none;
    font-size: xx-large;
}

p, .header a, .hamb-header a {
    font-family: serif;
}

/*概要*/
.overview {
    text-align: center;
    
}
.shadow {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.first-theme, .kanji_theme, .summarize_theme {
    display: flex;
    margin-bottom: 3%;
}
.summarize_theme {
    flex-direction: column;
}
.work-title, .repository {
    display: block;
    font-size: large; 
    color: black;
    margin: 2% auto 1%;
}
.work-title, .repo-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.repo-title {
    display: inline-block;
    margin-top: -2%;
}
/*付箋(小)*/
.sticky-s-pink {
    width: 21rem;
    height: 6rem;
    padding: 1.5em;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, .1);
    background-image: linear-gradient(to right, hsla(0, 0%, 45%, .1) 2rem, hsla(0, 100%, 100%, 0) 2.5rem), linear-gradient(180deg, hsla(300, 100%, 75%, 0.5), hsla(330, 100%, 75%, 0.5));
    line-height: 1.8;    
}
.sticky-s-green {
    width: 21rem;
    height: 6rem;
    padding: 1.5em;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, .1);
    background-image: linear-gradient(to right, hsla(0, 0%, 45%, .1) 2rem, hsla(0, 100%, 100%, 0) 2.5rem), linear-gradient(180deg, hsla(133, 82%, 67%, 0.5), hsla(133, 82%, 67%, 0.5));
    margin: 1% auto -3%;
    position: relative;
}
.sticky-s-white {
    position:relative;
    background-color: #ffffff;
    border-left: solid 35px #e3dad3;
    margin-bottom: 3%;
    width: 21rem;
    height: 3rem;
}
/*↓付箋（白）の影、うまくいかない*/
.sticky-s-white::before {
    position: absolute;
    left: 12px;
    width: 100%;
    height: 80%;
    max-width: 300px;
    max-height: 300px;
    z-index: -1;
    content: "";
    box-shadow: rgb(0 0 0 /30%) -15px 15px 10px;
    transform: skew(-4deg,-4deg);
    -webkit-transform: skew(-4deg,-4deg);
    top: 5%;
}
/*画像*/
.link-wrapper {
    display: inline-block;
    margin: 0 auto;
    background-color: #efebeb;
    width: 40%;
}
img {
    width: 90%;
    height: 300px;
    aspect-ratio: 5/3;
}
.arrow-container {
    display: flex;
    justify-content: space-between;
}
.arrow-wrapper {
    display: flex;
    align-items: center;
    margin: 3% 10% 0;
}
.nav:hover .tooltip {
    opacity: 1;
    visibility: visible;
}
.fa-chevron-left, .fa-angle-right {
    display: block;
    font-size: 30px;
    width: 50px;
    height: 50px;

}
.tooltip {    
    position: absolute;
    padding: 10px;
    color: rgba(67, 70, 89, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    white-space: nowrap;
    font-size: small;
    display: block;
  }
.nav.left, nav.right {
    position: relative;
}
.left.tooltip {
    left: 34%;
} 
.right.tooltip {
    left: 67%;
}
  /*h2のクリックアイコン*/
  .fa-hand-pointer, .fa-down-long {
    color: #646262;
    font-size: 1.5em;
  } 
  .hand-position {
    position: relative;
  }
  .hand-position .fa-hand-pointer {
    position: absolute;
    right: 45%;
    top: -35px;
    transform: rotate(340deg);
  }
  .work-first .fa-hand-pointer, .work-kanji .fa-hand-pointer {
    top: -368px;
    right: 20%;
  }
  .repo-first .fa-hand-pointer, .repo-kanji .fa-hand-pointer, .repo-summarize .fa-hand-pointer {
    top: -9px;
    right: 38%;
  }
  .video-wrapper {
    margin-top: 2%;
  }
  video {
    width: 100%;
    height: 300px;
    margin-bottom: -6%;
  }
  
/*テーブル*/
table {
    margin: 5% auto;
    width: 60%;
    border-color: rgba(52, 249, 88, 0.5);
}
th {
    width: 20%;
    text-align: center;
    background-color: #ebebe1;
}

td {
    text-align: left;
    padding: 0 1%;
    font-weight: lighter;
}

/*ノート風の線*/
.note {
    background-color: #fff;
    background-image: linear-gradient(180deg, #ccc 1px, transparent 1px);
    background-size: 100% 2.5em;
    line-height: 2.5em;
    padding: 0 5% 1%;
    text-align: left;
    background-repeat: repeat-y;
}
.first-letter-spacing::first-letter {
    margin-left: 1em;
}



/**1000ｐｘ以下***************************/
@media (max-width: 1000px) {
    ul {
        justify-content: space-between;
    }
    .deg {
        transform: rotate(1deg);
        left: 45%;
        top: 5px;
    }
    h1 {
        margin-top: -12%;
        margin-left: -4%;
    }
    .sticky-s-white {
        margin-bottom: 2%;
    }
    .link-wrapper {
        margin-top: 2%;
        width: 57%;
    }
    .left.tooltip {
        left: 27%;
    }
    .right.tooltip {
        left: 72%;
    }
    .work-first .fa-hand-pointer, .work-kanji .fa-hand-pointer {
        top: -357px;
        left: 78%;
    }
    .hand-position .fa-hand-pointer {
        right: 43%;
    }
    .repo-kanji .fa-hand-pointer, .repo-summarize .fa-hand-pointer {
        left: 66%;
        top: -1rem;
    }
}
/**900ｐｘ以下***************************/
@media (max-width: 900px) {
    .sticky-position {
        left: -6%;
        top: -40px;
    } 
    h2 {
        font-size: 30px;
    }
    .work-first .fa-hand-pointer, .work-kanji .fa-hand-pointer {
        top: -464px;
        left: 71%;
    }
    img {
        height: 400px;
    }
    .link-wrapper {
        width: 80%;
    }
    .left.tooltip {
        left: 18%;
    }
    .right.tooltip {
        left: 80%;
    }
    video {
        margin-bottom: -3%;
    }
    table {
        width: 100%;
    }
}
/**800ｐｘ以下***************************/
@media (max-width: 800px) { 
    .header {
        visibility: hidden;
    }
    /*ハンバーガー************/
    .hamb-header {
        text-align: left;
        margin-left: 5%;
    }
    .hamb-header a {
        font-size: 25px;
    }
    nav.hamb {
        width: 38%;
    }   
    /*toggle_btn*********/
    .toggle_btn {
        display: block;
        position: absolute;
        top: 3%;
        right: 4%;
        width: 30px;
        height: 30px;
        transition: all .5s;
        cursor: pointer;
        z-index: 3;
    }
    .toggle_btn span {
        display: block;
        position: absolute;
        right: 0;
        width: 30px;
        height: 2px;
        background-color: #333;
        border-radius: 4px;
        transition: all .5s;
    }
    .toggle_btn span:nth-child(1) {
        top: 4px;
    }
    .toggle_btn span:nth-child(2) {
        top: 14px;
    }
    .toggle_btn span:nth-child(3) {
        bottom: 4px;
    }
    .open .toggle_btn span {
        background-color: #333;
    }
    .open .toggle_btn span:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(-315deg);
        transform: translateY(10px) rotate(-315deg);
    }
    .open .toggle_btn span:nth-child(2) {
        opacity: 0;
    }
    .open .toggle_btn span:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(315deg);
        transform: translateY(-10px) rotate(315deg);
    }
    /*#mask************/
    #mask {
        display: none;
        transition: all .5s;
    }
    .open#mask {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        opacity: .8;
        z-index: 2;
        cursor: pointer;
    }
    /*共通*/
    .deg {
        left: -28%;
        top: -30px;
        transform: rotate(357deg);
    }    
    .hand-position .fa-hand-pointer {
        right: 42%;
    }
    .video-wrapper {
        margin-top: 5%;
    }
    video {
        margin-top: -1%;
    }
s    .sticky-s-green {
        margin-top: 10%;
    }
}
/**700ｐｘ以下***************************/
@media (max-width: 700px) {
    /*ヘッダー付箋*/
    h1 {
        margin-top: -17%;
    }    
    .sticky {
        width: 16rem;
    }
    .stamp {
        opacity: 0;
    }
    .stamp-s {
        opacity: 1;
    }
    .stamp-s-position {
        top: 55%;
    }
    /*メイン見出し*/
    .h2-position {
        width: 80%;
    }
    /*付箋+見出し*/
    .work-title {
        margin: 1% 15% 1%;
    }
    .work-first .fa-hand-pointer, .work-kanji .fa-hand-pointer {
        left: 76%;
    }
    .sticky-s-green {
        margin-top: 3%;
    }
    nav.note {
        padding: 0 0 1%;    
    }
    
    video {
        margin-top: 0%;
    }
    /*ハンバーガー*/
    nav.hamb {
        width: 40%;
    }
    .hamb-header a {
        font-size: 23px;
    }     
    .hand-position .fa-hand-pointer {
        right: 41%;
    }
}
/**645ｐｘ以下***************************/
/* @media (max-width: 645px) {
    th {
        line-height: 3rem;
    }
    td {
        line-height: 2.5rem;
    }
    .sticky-position {
        top: -31px;
        left: 4%;
    }
    .sticky {
        width: 13rem;
        height: 5.5rem;
    }
    h1 {
        font-size: 40px;
        margin-top: -12%;
    }
    .stamp {
        opacity: 0;
    }
    .stamp-s {
        opacity: 1;
    }
    .stamp-s-position {
        left: -29%;
        top: -4%;
    }
    .work-title {
        width: 68%;
    }
    .work-first .fa-hand-pointer, .work-kanji .fa-hand-pointer {
        left: 24rem;
    }
    nav.hamb {
        width: 41%;
    }
    .hamb-header a {
        font-size: 20px;
        margin-top: 9%;
    }
    .paper::before {
        left: 5px;
    }
    .tooltip {
        color: rgb(147, 147, 231);
        background-color: transparent;
    }
    
    .hand-position .fa-hand-pointer {
        right: 40%;
    }
    
    table th, table td {
        display: block;
    }
    table th {
        width: 100%;
    }
    video {
        margin-top: -3%;
    }
    footer {
        margin: 10% 0 2%;
    }
} */
/*600px以下*******************/
@media (max-width: 600px) {
    /*ヘッダー*/
    header {
        margin-top: 10%;
    }
    .pc.note {
        display: none;
    }
    /*ヘッダー付箋*/
    .sticky-position {
        left: 1%;
        top: -13px;
    }
    .deg {
        left: -28%;
        top: -30px;
        transform: rotate(360deg);
    }
    .sticky {
        width: 11rem;
        height: 4rem;    
    }
    h1 {
        font-size: 33px;
    }
    .stamp-s-position {
        top: -46%;
        left: -63%;
    }
    /*画像*/
    img, video {
        height: 300px;
    }
    /*クリックアイコン*/
    .hand-position .fa-hand-pointer {
        right: 38%;
        top: -65px;
    }
    /*画像切り替えアイコン*/
    .arrow-position {
        margin-bottom: 8%;
    }
    .arrow-wrapper {
        margin: 3% 10% -10%;
    }
    .left.tooltip {
        left: 17%;
    }
    /*見出し+クリック付箋*/
    .work-title {
        font-size: 15px;
    }
    .repo-title {
        display: block;
        margin-top: -3%;
        font-size: 15px;
    }
    .repo-first .fa-hand-pointer, .repo-kanji .fa-hand-pointer, .repo-summarize .fa-hand-pointer {
        left: 26rem;
        top: 0rem;
    }
    
    .video-wrapper .sticky-s-white {
        margin-bottom: -5%;
    }
    h3 {
        margin-bottom: 10%;
    }
    .sticky-s-pink, .sticky-s-white {
        height: 3rem;
        width: 100%;
        margin: 1% auto;
        position: relative;
    }
    .sticky-s-green {
        width: 80%;
        height: 3rem;
    }
    .new-line {
        display: none;
    }    
    .work-first .fa-hand-pointer, .work-kanji .fa-hand-pointer {
        top: -20rem;
    }
    video {
        margin-bottom: 1%;
    /*ハンバーガー*/
    }
    .hamb-header {
        margin-top: 10%;
    }
    .hamb-header a {
        font-size: 19px;
    }
    /*テーブル*/
    table th, table td {
        display: block;
    }
    table th {
        width: 100%;
    }
    th {
        line-height: 3rem;
    }
    td {
        padding: 1rem 2rem;
    }
}
/*500px以下*******************/
@media (max-width: 500px) {
    .sticky-position {
        left: -3%;
        top: -3px;
    }
    .sticky {
        width: 8rem;
        height: 6rem;
    }
    h1 {
        font-size: 23px;
        margin-top: -19%;
        margin-left: 12%;
    }
    .stamp-s-position {
        top: 1%;
        left: -173%;
    }
    .work-title, .repo-title {
        font-size: 12px;
    }
    .repo-first .fa-hand-pointer, .repo-kanji .fa-hand-pointer, .repo-summarize .fa-hand-pointer {
        left: 20rem;
    }
    nav.hamb {
        width: 48%;
    }
    video {
        margin-top: -15%;
    }
    .hand-position .fa-hand-pointer {
        right: 38%;
    }
    footer {
        margin-top: 4%;
    }
}
/*400px以下*******************/
@media (max-width: 400px) {
    /*ヘッダー付箋*/
    .sticky-position {
        left: -37%;
        top: -8px;
    }
    .sticky {
        width: 11.5rem;
        height: 0;
    }
    h1 {
        margin-top: -16%;
        margin-left: 46%;
        font-size: 22px;
    }
    .stamp-s-position {
        display: none;
    }
    /*クリックアイコン*/
    .hand-position .fa-hand-pointer {
        right: 35%;
    }
    .repo-first .fa-hand-pointer, .repo-kanji .fa-hand-pointer, .repo-summarize .fa-hand-pointer {
        left: 16rem;
    }
    /*画像切り替えアイコン*/
    .left.tooltip {
        left: 15%;
    }
    .right.tooltip {
        left: 78%;
    }
    /*ハンバーガー*/
    nav.hamb {
        width: 60%;
    }
}