@charset "utf-8";

.container {
    text-align: center;
}

.content {
    text-align: left;
    display: inline-block;
}

ul a, a {
    text-decoration: none;
}

li {
    list-style: none;
    font-size: xx-large;
}

.item {
    font-size: x-large;
}